<template>
  <div class="board">
    <div
      class="column"
      v-for="(column, columnIndex) in columns"
      :key="columnIndex"
    >
      <div class="column-header">{{ column.title }}</div>
      <div
        class="card"
        v-for="(card, cardIndex) in column.cards"
        :key="cardIndex"
        :draggable="true"
        @mousedown="startDrag(cardIndex, columnIndex)"
        @dragover.prevent
        @drop="drop(cardIndex, columnIndex)"
      >
        {{ card.text }}
        <div class="">
          
          <button
            class="button button2"
            @click="clickDelete(cardIndex, columnIndex)"
          >
            X
          </button>
        </div>
      </div>
      <div class="add-card">
        <input
          type="text"
          v-model="newCardText"
          @keyup.enter="addCard(columnIndex)"
          placeholder="Add a card"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TheCard",
  data() {
    return {
      columns: [
        {
          title: "To Do",
          cards: [
            { id: 1, text: "Task 1" },
            { id: 2, text: "Task 2" },
            { id: 3, text: "Task 3" },
          ],
        },
        {
          title: "In Progress",
          cards: [
            { id: 4, text: "Task 4" },
            { id: 5, text: "Task 5" },
          ],
        },
        {
          title: "Done",
          cards: [{ id: 6, text: "Task 6" }],
        },
      ],
      newCardText: "",
      isDragging: false,
      dragData: {
        cardIndex: null,
        columnIndex: null,
      },
    };
  },
  methods: {
    clickDelete(cardIndex, columnIndex) {
      console.log(columnIndex);
      const column = this.columns[columnIndex];

      column.cards.splice(cardIndex, 1);
    },

    addCard(columnIndex) {
      const column = this.columns[columnIndex];
      column.cards.push({ text: this.newCardText });
      this.newCardText = "";
    },
    startDrag(cardIndex, columnIndex) {
      this.isDragging = true;
      this.dragData.cardIndex = cardIndex;
      this.dragData.columnIndex = columnIndex;
    },
    drop(cardIndex, columnIndex) {
      if (this.isDragging) {
        const fromCardIndex = this.dragData.cardIndex;
        const fromColumnIndex = this.dragData.columnIndex;
        const card = this.columns[fromColumnIndex].cards.splice(
          fromCardIndex,
          1
        )[0];
        this.columns[columnIndex].cards.splice(cardIndex, 0, card);
        this.isDragging = false;
        this.dragData.cardIndex = null;
        this.dragData.columnIndex = null;
      }
    },
  },
};

</script>

<style scoped>
.board {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin: auto;
}

.column {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.column-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: move;
  display: flex;
  justify-content: space-around;
}

.add-card input {
  width: 100%;
  padding: 4px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

.add-card input:focus {
  outline: none;
}
.button {
  border: none;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}

.button1 {
  background-color: #4caf50;
} /* Green */
.button2 {
  background-color: red;
} /* Blue */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>